<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../css/global.css" />
    </head>
    <body>
        <!-- hi ape i had to add this html file because the code wouldnt compile otherwise. you can replace it with your own or just put the body tag content in here -->
        <!-- just make sure to import the global css file like in line 8 -->
    </body>
</html>
