.content-wrapper {
    padding-left: 90px;
  }
.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: rgb(0 0 0 / 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
body {
  display: flex;
}

.all-btns {
  flex-direction: column;
}

.content-wrapper {
  width: 100%;
}
.button:hover,
.button.hover,
.button:focus {
  background-color: purple;
  color: white;
}

.btns-navbar {
  background-color: rgb(0 0 0 / 0.8);
  border: none;
  position:fixed;
  height:calc(100vh - 80px);
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.sideBar-button {
  background: transparent;
  border: none;
}

.layout-nav {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1.25em 2em;
  padding-right: 10vw;
}

.layout-nav .logo {
  margin-right: auto;
  margin-left:60px;
}

.all-btns {
  padding-top:10px;
  display: flex;
  align-content: space-between;
  height:100%;
}

.button {
  padding: 0.75em 1.2em;
  margin:10px;
  background-color: transparent;
  border: 4px solid rgb(11, 112, 254);
  border-radius: 100vmax;
  color:rgb(11, 112, 254);
  font-size: 15px;
}

.button:hover,
.button:focus {
  background-color: purple;
  color: white;
}

.sub-heading {
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.products {
  padding: 3em;
  display: grid;
  gap: 1em;
  transform:translateX(calc(var(--x-offset)*1%));
  transition:transform 0.3s;
}

@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(5, 35vw);
    grid-template-rows: repeat(1, 1fr);
  }
}


.item-card {
  background-color: rgb(214, 214, 214);
  padding: 1em;
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.wrap-products{
    width:100%;
    overflow:hidden;
    margin-left:50px;
}

.item-card img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  justify-self: stretch;
  margin-bottom: 15px;
}

.item-card .item-name {
  font-size: 2rem;
  margin: 0;
}
#scroll-left{
    transform: rotate(90deg);
}
#scroll-right{
    transform: rotate(-90deg);
}
.rating {
  color: rgb(226, 139, 9);
  font-size: 1.5rem;
}
.logo {
  width: 200px;
}
.all-btns {
  display: flex;
}
.all-btns button{
    margin:auto 10px;
}
/* #scroll-down {
  margin-top: auto;
} */
#scroll-up {
  transform: rotate(180deg);
}
@media screen and (max-width: 760px) {
  .layout-nav {
    flex-direction: column;
    gap: 3rem;
  }
  .all-btns {
    margin: 0px;
  }
  .sidebar {
    padding: 10px;
    gap: 1em;
  }
  .sub-heading {
    margin-top: 10px;
    font-size: 2.5rem;
  }
  .products {
    grid-template-columns: repeat(5, 35vw);
    grid-template-rows: repeat(1, 1fr);
    }
    .sub-heading {
    margin-left:80px;
    }
    #download-graph{
      margin-top:-10px;
      margin-bottom:0px;
      padding-left:15px;
    }
}
#download-graph{
  margin-left:20px;
}

