<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../css/global.css" />
        <link rel="stylesheet" href="./layout1.css" />
        <script src="index.js" defer></script>
    </head>
    <body>
        <h1 class="page-header">Scammerce</h1>

        <div class="products-container"></div>

        <template id="product-card-template">
            <div class="product-card">
                <img crossorigin="anonymous" class="product-image" />
                <div class="product-info">
                    <div class="product-title">Title</div>
                    <div class="product-price">£20</div>
                    <div><span class="star">&#9733; </span><span class="product-rating">5</span></div>
                    <div class="product-description">Description</div>
                </div>
            </div>
        </template>
    </body>
</html>
